.RelatedStuff-view {
  &>div {
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .mui-paper {
    webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: 8px;

    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  .mui-paper-container {
    padding: 15px;
  }
}