@import "material-ui/scaffolding.less";

// This is where you would optionally add your styles.

// Feel free to leverage the styles below in order to implement the header in
// the sidebar.

// .logo {
//   cursor: pointer;
//   .mui-font-style-headline;
//   .mui-text-full-white;
//   line-height: @app-bar-height;
//   .mui-font-weight-light;
//   background-color: @primary-1-color;
//   padding-left: @desktop-gutter;
//   padding-top: 0;
//   margin-bottom: @desktop-gutter-mini;
// }

@import "material-ui/components.less";

[layout] {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }

[layout=column] {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

[layout=row] {
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }

[layout-padding], [layout-padding] > [flex] {
  padding: 8px; }

[layout-margin], [layout-margin] > [flex] {
  margin: 8px; }

[layout-wrap] {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

[layout-fill] {
  margin: 0;
  min-height: 100%;
  width: 100%; }

@-moz-document url-prefix() {
  [layout-fill] {
    margin: 0;
    width: 100%;
    min-height: auto;
    height: inherit; } }

[flex] {
  box-sizing: border-box;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

[flex="0"] {
  -webkit-flex: 0 0 0%;
  -ms-flex: 0 0 0%;
  flex: 0 0 0%; }

[layout="row"] > [flex="0"] {
  max-width: 0%; }

[layout="column"] > [flex="0"] {
  max-height: 0%; }

[flex="5"] {
  -webkit-flex: 0 0 5%;
  -ms-flex: 0 0 5%;
  flex: 0 0 5%; }

[layout="row"] > [flex="5"] {
  max-width: 5%; }

[layout="column"] > [flex="5"] {
  max-height: 5%; }

[flex="10"] {
  -webkit-flex: 0 0 10%;
  -ms-flex: 0 0 10%;
  flex: 0 0 10%; }

[layout="row"] > [flex="10"] {
  max-width: 10%; }

[layout="column"] > [flex="10"] {
  max-height: 10%; }

[flex="15"] {
  -webkit-flex: 0 0 15%;
  -ms-flex: 0 0 15%;
  flex: 0 0 15%; }

[layout="row"] > [flex="15"] {
  max-width: 15%; }

[layout="column"] > [flex="15"] {
  max-height: 15%; }

[flex="20"] {
  -webkit-flex: 0 0 20%;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%; }

[layout="row"] > [flex="20"] {
  max-width: 20%; }

[layout="column"] > [flex="20"] {
  max-height: 20%; }

[flex="25"] {
  -webkit-flex: 0 0 25%;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%; }

[layout="row"] > [flex="25"] {
  max-width: 25%; }

[layout="column"] > [flex="25"] {
  max-height: 25%; }

[flex="30"] {
  -webkit-flex: 0 0 30%;
  -ms-flex: 0 0 30%;
  flex: 0 0 30%; }

[layout="row"] > [flex="30"] {
  max-width: 30%; }

[layout="column"] > [flex="30"] {
  max-height: 30%; }

[flex="35"] {
  -webkit-flex: 0 0 35%;
  -ms-flex: 0 0 35%;
  flex: 0 0 35%; }

[layout="row"] > [flex="35"] {
  max-width: 35%; }

[layout="column"] > [flex="35"] {
  max-height: 35%; }

[flex="40"] {
  -webkit-flex: 0 0 40%;
  -ms-flex: 0 0 40%;
  flex: 0 0 40%; }

[layout="row"] > [flex="40"] {
  max-width: 40%; }

[layout="column"] > [flex="40"] {
  max-height: 40%; }

[flex="45"] {
  -webkit-flex: 0 0 45%;
  -ms-flex: 0 0 45%;
  flex: 0 0 45%; }

[layout="row"] > [flex="45"] {
  max-width: 45%; }

[layout="column"] > [flex="45"] {
  max-height: 45%; }

[flex="50"] {
  -webkit-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%; }

[layout="row"] > [flex="50"] {
  max-width: 50%; }

[layout="column"] > [flex="50"] {
  max-height: 50%; }

[flex="55"] {
  -webkit-flex: 0 0 55%;
  -ms-flex: 0 0 55%;
  flex: 0 0 55%; }

[layout="row"] > [flex="55"] {
  max-width: 55%; }

[layout="column"] > [flex="55"] {
  max-height: 55%; }

[flex="60"] {
  -webkit-flex: 0 0 60%;
  -ms-flex: 0 0 60%;
  flex: 0 0 60%; }

[layout="row"] > [flex="60"] {
  max-width: 60%; }

[layout="column"] > [flex="60"] {
  max-height: 60%; }

[flex="65"] {
  -webkit-flex: 0 0 65%;
  -ms-flex: 0 0 65%;
  flex: 0 0 65%; }

[layout="row"] > [flex="65"] {
  max-width: 65%; }

[layout="column"] > [flex="65"] {
  max-height: 65%; }

[flex="70"] {
  -webkit-flex: 0 0 70%;
  -ms-flex: 0 0 70%;
  flex: 0 0 70%; }

[layout="row"] > [flex="70"] {
  max-width: 70%; }

[layout="column"] > [flex="70"] {
  max-height: 70%; }

[flex="75"] {
  -webkit-flex: 0 0 75%;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%; }

[layout="row"] > [flex="75"] {
  max-width: 75%; }

[layout="column"] > [flex="75"] {
  max-height: 75%; }

[flex="80"] {
  -webkit-flex: 0 0 80%;
  -ms-flex: 0 0 80%;
  flex: 0 0 80%; }

[layout="row"] > [flex="80"] {
  max-width: 80%; }

[layout="column"] > [flex="80"] {
  max-height: 80%; }

[flex="85"] {
  -webkit-flex: 0 0 85%;
  -ms-flex: 0 0 85%;
  flex: 0 0 85%; }

[layout="row"] > [flex="85"] {
  max-width: 85%; }

[layout="column"] > [flex="85"] {
  max-height: 85%; }

[flex="90"] {
  -webkit-flex: 0 0 90%;
  -ms-flex: 0 0 90%;
  flex: 0 0 90%; }

[layout="row"] > [flex="90"] {
  max-width: 90%; }

[layout="column"] > [flex="90"] {
  max-height: 90%; }

[flex="95"] {
  -webkit-flex: 0 0 95%;
  -ms-flex: 0 0 95%;
  flex: 0 0 95%; }

[layout="row"] > [flex="95"] {
  max-width: 95%; }

[layout="column"] > [flex="95"] {
  max-height: 95%; }

[flex="100"] {
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%; }

[layout="row"] > [flex="100"] {
  max-width: 100%; }

[layout="column"] > [flex="100"] {
  max-height: 100%; }

[flex="33"], [flex="34"] {
  -webkit-flex: 0 0 33.33%;
  -ms-flex: 0 0 33.33%;
  flex: 0 0 33.33%; }

[flex="66"], [flex="67"] {
  -webkit-flex: 0 0 66.66%;
  -ms-flex: 0 0 66.66%;
  flex: 0 0 66.66%; }

[layout="row"] > [flex="33"], [layout="row"] > [flex="34"] {
  max-width: 33.33%; }
[layout="row"] > [flex="66"], [layout="row"] > [flex="67"] {
  max-width: 66.66%; }

[layout="column"] > [flex="33"], [layout="column"] > [flex="34"] {
  max-height: 33.33%; }
[layout="column"] > [flex="66"], [layout="column"] > [flex="67"] {
  max-height: 66.66%; }

[layout-align="center"], [layout-align="center center"], [layout-align="center start"], [layout-align="center end"] {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

[layout-align="end"], [layout-align="end center"], [layout-align="end start"], [layout-align="end end"] {
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

[layout-align="space-around"], [layout-align="space-around center"], [layout-align="space-around start"], [layout-align="space-around end"] {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

[layout-align="space-between"], [layout-align="space-between center"], [layout-align="space-between start"], [layout-align="space-between end"] {
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

[layout-align="center center"], [layout-align="start center"], [layout-align="end center"], [layout-align="space-between center"], [layout-align="space-around center"] {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

[layout-align="center start"], [layout-align="start start"], [layout-align="end start"], [layout-align="space-between start"], [layout-align="space-around start"] {
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start; }

[layout-align="center end"], [layout-align="start end"], [layout-align="end end"], [layout-align="space-between end"], [layout-align="space-around end"] {
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end; }

[flex-order="0"] {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0; }

[flex-order="1"] {
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1; }

[flex-order="2"] {
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2; }

[flex-order="3"] {
  -webkit-order: 3;
  -ms-flex-order: 3;
  order: 3; }

[flex-order="4"] {
  -webkit-order: 4;
  -ms-flex-order: 4;
  order: 4; }

[flex-order="5"] {
  -webkit-order: 5;
  -ms-flex-order: 5;
  order: 5; }

[flex-order="6"] {
  -webkit-order: 6;
  -ms-flex-order: 6;
  order: 6; }

[flex-order="7"] {
  -webkit-order: 7;
  -ms-flex-order: 7;
  order: 7; }

[flex-order="8"] {
  -webkit-order: 8;
  -ms-flex-order: 8;
  order: 8; }

[flex-order="9"] {
  -webkit-order: 9;
  -ms-flex-order: 9;
  order: 9; }

/**
 * `hide-gt-sm show-gt-lg` should hide from 600px to 1200px
 * `show-md hide-gt-sm` should show from 0px to 960px and hide at >960px
 * `hide-gt-md show-gt-sm` should show everywhere (show overrides hide)`
 */
@media (max-width: 599px) {
  [hide-sm]:not([show-sm]):not([show]), [hide]:not([show-sm]):not([show]) {
    display: none; }

  [flex-order-sm="0"] {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0; }

  [flex-order-sm="1"] {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1; }

  [flex-order-sm="2"] {
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2; }

  [flex-order-sm="3"] {
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3; }

  [flex-order-sm="4"] {
    -webkit-order: 4;
    -ms-flex-order: 4;
    order: 4; }

  [flex-order-sm="5"] {
    -webkit-order: 5;
    -ms-flex-order: 5;
    order: 5; }

  [flex-order-sm="6"] {
    -webkit-order: 6;
    -ms-flex-order: 6;
    order: 6; }

  [flex-order-sm="7"] {
    -webkit-order: 7;
    -ms-flex-order: 7;
    order: 7; }

  [flex-order-sm="8"] {
    -webkit-order: 8;
    -ms-flex-order: 8;
    order: 8; }

  [flex-order-sm="9"] {
    -webkit-order: 9;
    -ms-flex-order: 9;
    order: 9; }

  [layout-align-sm="center"], [layout-align-sm="center center"], [layout-align-sm="center start"], [layout-align-sm="center end"] {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }

  [layout-align-sm="end"], [layout-align-sm="end center"], [layout-align-sm="end start"], [layout-align-sm="end end"] {
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end; }

  [layout-align-sm="space-around"], [layout-align-sm="space-around center"], [layout-align-sm="space-around start"], [layout-align-sm="space-around end"] {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around; }

  [layout-align-sm="space-between"], [layout-align-sm="space-between center"], [layout-align-sm="space-between start"], [layout-align-sm="space-between end"] {
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }

  [layout-align-sm="center center"], [layout-align-sm="start center"], [layout-align-sm="end center"], [layout-align-sm="space-between center"], [layout-align-sm="space-around center"] {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }

  [layout-align-sm="center start"], [layout-align-sm="start start"], [layout-align-sm="end start"], [layout-align-sm="space-between start"], [layout-align-sm="space-around start"] {
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start; }

  [layout-align-sm="center end"], [layout-align-sm="start end"], [layout-align-sm="end end"], [layout-align-sm="space-between end"], [layout-align-sm="space-around end"] {
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end; }

  [layout-sm] {
    box-sizing: border-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex; }

  [layout-sm=column] {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }

  [layout-sm=row] {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row; }

  [flex-sm] {
    box-sizing: border-box;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1; }

  [flex-sm="0"] {
    -webkit-flex: 0 0 0%;
    -ms-flex: 0 0 0%;
    flex: 0 0 0%; }

  [layout="row"] > [flex-sm="0"] {
    max-width: 0%; }

  [layout="column"] > [flex-sm="0"] {
    max-height: 0%; }

  [flex-sm="5"] {
    -webkit-flex: 0 0 5%;
    -ms-flex: 0 0 5%;
    flex: 0 0 5%; }

  [layout="row"] > [flex-sm="5"] {
    max-width: 5%; }

  [layout="column"] > [flex-sm="5"] {
    max-height: 5%; }

  [flex-sm="10"] {
    -webkit-flex: 0 0 10%;
    -ms-flex: 0 0 10%;
    flex: 0 0 10%; }

  [layout="row"] > [flex-sm="10"] {
    max-width: 10%; }

  [layout="column"] > [flex-sm="10"] {
    max-height: 10%; }

  [flex-sm="15"] {
    -webkit-flex: 0 0 15%;
    -ms-flex: 0 0 15%;
    flex: 0 0 15%; }

  [layout="row"] > [flex-sm="15"] {
    max-width: 15%; }

  [layout="column"] > [flex-sm="15"] {
    max-height: 15%; }

  [flex-sm="20"] {
    -webkit-flex: 0 0 20%;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%; }

  [layout="row"] > [flex-sm="20"] {
    max-width: 20%; }

  [layout="column"] > [flex-sm="20"] {
    max-height: 20%; }

  [flex-sm="25"] {
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%; }

  [layout="row"] > [flex-sm="25"] {
    max-width: 25%; }

  [layout="column"] > [flex-sm="25"] {
    max-height: 25%; }

  [flex-sm="30"] {
    -webkit-flex: 0 0 30%;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%; }

  [layout="row"] > [flex-sm="30"] {
    max-width: 30%; }

  [layout="column"] > [flex-sm="30"] {
    max-height: 30%; }

  [flex-sm="35"] {
    -webkit-flex: 0 0 35%;
    -ms-flex: 0 0 35%;
    flex: 0 0 35%; }

  [layout="row"] > [flex-sm="35"] {
    max-width: 35%; }

  [layout="column"] > [flex-sm="35"] {
    max-height: 35%; }

  [flex-sm="40"] {
    -webkit-flex: 0 0 40%;
    -ms-flex: 0 0 40%;
    flex: 0 0 40%; }

  [layout="row"] > [flex-sm="40"] {
    max-width: 40%; }

  [layout="column"] > [flex-sm="40"] {
    max-height: 40%; }

  [flex-sm="45"] {
    -webkit-flex: 0 0 45%;
    -ms-flex: 0 0 45%;
    flex: 0 0 45%; }

  [layout="row"] > [flex-sm="45"] {
    max-width: 45%; }

  [layout="column"] > [flex-sm="45"] {
    max-height: 45%; }

  [flex-sm="50"] {
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%; }

  [layout="row"] > [flex-sm="50"] {
    max-width: 50%; }

  [layout="column"] > [flex-sm="50"] {
    max-height: 50%; }

  [flex-sm="55"] {
    -webkit-flex: 0 0 55%;
    -ms-flex: 0 0 55%;
    flex: 0 0 55%; }

  [layout="row"] > [flex-sm="55"] {
    max-width: 55%; }

  [layout="column"] > [flex-sm="55"] {
    max-height: 55%; }

  [flex-sm="60"] {
    -webkit-flex: 0 0 60%;
    -ms-flex: 0 0 60%;
    flex: 0 0 60%; }

  [layout="row"] > [flex-sm="60"] {
    max-width: 60%; }

  [layout="column"] > [flex-sm="60"] {
    max-height: 60%; }

  [flex-sm="65"] {
    -webkit-flex: 0 0 65%;
    -ms-flex: 0 0 65%;
    flex: 0 0 65%; }

  [layout="row"] > [flex-sm="65"] {
    max-width: 65%; }

  [layout="column"] > [flex-sm="65"] {
    max-height: 65%; }

  [flex-sm="70"] {
    -webkit-flex: 0 0 70%;
    -ms-flex: 0 0 70%;
    flex: 0 0 70%; }

  [layout="row"] > [flex-sm="70"] {
    max-width: 70%; }

  [layout="column"] > [flex-sm="70"] {
    max-height: 70%; }

  [flex-sm="75"] {
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%; }

  [layout="row"] > [flex-sm="75"] {
    max-width: 75%; }

  [layout="column"] > [flex-sm="75"] {
    max-height: 75%; }

  [flex-sm="80"] {
    -webkit-flex: 0 0 80%;
    -ms-flex: 0 0 80%;
    flex: 0 0 80%; }

  [layout="row"] > [flex-sm="80"] {
    max-width: 80%; }

  [layout="column"] > [flex-sm="80"] {
    max-height: 80%; }

  [flex-sm="85"] {
    -webkit-flex: 0 0 85%;
    -ms-flex: 0 0 85%;
    flex: 0 0 85%; }

  [layout="row"] > [flex-sm="85"] {
    max-width: 85%; }

  [layout="column"] > [flex-sm="85"] {
    max-height: 85%; }

  [flex-sm="90"] {
    -webkit-flex: 0 0 90%;
    -ms-flex: 0 0 90%;
    flex: 0 0 90%; }

  [layout="row"] > [flex-sm="90"] {
    max-width: 90%; }

  [layout="column"] > [flex-sm="90"] {
    max-height: 90%; }

  [flex-sm="95"] {
    -webkit-flex: 0 0 95%;
    -ms-flex: 0 0 95%;
    flex: 0 0 95%; }

  [layout="row"] > [flex-sm="95"] {
    max-width: 95%; }

  [layout="column"] > [flex-sm="95"] {
    max-height: 95%; }

  [flex-sm="100"] {
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%; }

  [layout="row"] > [flex-sm="100"] {
    max-width: 100%; }

  [layout="column"] > [flex-sm="100"] {
    max-height: 100%; }

  [flex-sm="33"], [flex-sm="34"] {
    -webkit-flex: 0 0 33.33%;
    -ms-flex: 0 0 33.33%;
    flex: 0 0 33.33%; }

  [flex-sm="66"], [flex-sm="67"] {
    -webkit-flex: 0 0 66.66%;
    -ms-flex: 0 0 66.66%;
    flex: 0 0 66.66%; }

  [layout="row"] > [flex-sm="33"], [layout="row"] > [flex-sm="34"] {
    max-width: 33.33%; }
  [layout="row"] > [flex-sm="66"], [layout="row"] > [flex-sm="67"] {
    max-width: 66.66%; }

  [layout="column"] > [flex-sm="33"], [layout="column"] > [flex-sm="34"] {
    max-height: 33.33%; }
  [layout="column"] > [flex-sm="66"], [layout="column"] > [flex-sm="67"] {
    max-height: 66.66%; }
}

@media (min-width: 600px) {
  [flex-order-gt-sm="0"] {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0; }

  [flex-order-gt-sm="1"] {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1; }

  [flex-order-gt-sm="2"] {
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2; }

  [flex-order-gt-sm="3"] {
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3; }

  [flex-order-gt-sm="4"] {
    -webkit-order: 4;
    -ms-flex-order: 4;
    order: 4; }

  [flex-order-gt-sm="5"] {
    -webkit-order: 5;
    -ms-flex-order: 5;
    order: 5; }

  [flex-order-gt-sm="6"] {
    -webkit-order: 6;
    -ms-flex-order: 6;
    order: 6; }

  [flex-order-gt-sm="7"] {
    -webkit-order: 7;
    -ms-flex-order: 7;
    order: 7; }

  [flex-order-gt-sm="8"] {
    -webkit-order: 8;
    -ms-flex-order: 8;
    order: 8; }

  [flex-order-gt-sm="9"] {
    -webkit-order: 9;
    -ms-flex-order: 9;
    order: 9; }

  [layout-align-gt-sm="center"], [layout-align-gt-sm="center center"], [layout-align-gt-sm="center start"], [layout-align-gt-sm="center end"] {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }

  [layout-align-gt-sm="end"], [layout-align-gt-sm="end center"], [layout-align-gt-sm="end start"], [layout-align-gt-sm="end end"] {
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end; }

  [layout-align-gt-sm="space-around"], [layout-align-gt-sm="space-around center"], [layout-align-gt-sm="space-around start"], [layout-align-gt-sm="space-around end"] {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around; }

  [layout-align-gt-sm="space-between"], [layout-align-gt-sm="space-between center"], [layout-align-gt-sm="space-between start"], [layout-align-gt-sm="space-between end"] {
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }

  [layout-align-gt-sm="center center"], [layout-align-gt-sm="start center"], [layout-align-gt-sm="end center"], [layout-align-gt-sm="space-between center"], [layout-align-gt-sm="space-around center"] {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }

  [layout-align-gt-sm="center start"], [layout-align-gt-sm="start start"], [layout-align-gt-sm="end start"], [layout-align-gt-sm="space-between start"], [layout-align-gt-sm="space-around start"] {
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start; }

  [layout-align-gt-sm="center end"], [layout-align-gt-sm="start end"], [layout-align-gt-sm="end end"], [layout-align-gt-sm="space-between end"], [layout-align-gt-sm="space-around end"] {
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end; }

  [layout-gt-sm] {
    box-sizing: border-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex; }

  [layout-gt-sm=column] {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }

  [layout-gt-sm=row] {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row; }

  [flex-gt-sm] {
    box-sizing: border-box;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1; }

  [flex-gt-sm="0"] {
    -webkit-flex: 0 0 0%;
    -ms-flex: 0 0 0%;
    flex: 0 0 0%; }

  [layout="row"] > [flex-gt-sm="0"] {
    max-width: 0%; }

  [layout="column"] > [flex-gt-sm="0"] {
    max-height: 0%; }

  [flex-gt-sm="5"] {
    -webkit-flex: 0 0 5%;
    -ms-flex: 0 0 5%;
    flex: 0 0 5%; }

  [layout="row"] > [flex-gt-sm="5"] {
    max-width: 5%; }

  [layout="column"] > [flex-gt-sm="5"] {
    max-height: 5%; }

  [flex-gt-sm="10"] {
    -webkit-flex: 0 0 10%;
    -ms-flex: 0 0 10%;
    flex: 0 0 10%; }

  [layout="row"] > [flex-gt-sm="10"] {
    max-width: 10%; }

  [layout="column"] > [flex-gt-sm="10"] {
    max-height: 10%; }

  [flex-gt-sm="15"] {
    -webkit-flex: 0 0 15%;
    -ms-flex: 0 0 15%;
    flex: 0 0 15%; }

  [layout="row"] > [flex-gt-sm="15"] {
    max-width: 15%; }

  [layout="column"] > [flex-gt-sm="15"] {
    max-height: 15%; }

  [flex-gt-sm="20"] {
    -webkit-flex: 0 0 20%;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%; }

  [layout="row"] > [flex-gt-sm="20"] {
    max-width: 20%; }

  [layout="column"] > [flex-gt-sm="20"] {
    max-height: 20%; }

  [flex-gt-sm="25"] {
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%; }

  [layout="row"] > [flex-gt-sm="25"] {
    max-width: 25%; }

  [layout="column"] > [flex-gt-sm="25"] {
    max-height: 25%; }

  [flex-gt-sm="30"] {
    -webkit-flex: 0 0 30%;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%; }

  [layout="row"] > [flex-gt-sm="30"] {
    max-width: 30%; }

  [layout="column"] > [flex-gt-sm="30"] {
    max-height: 30%; }

  [flex-gt-sm="35"] {
    -webkit-flex: 0 0 35%;
    -ms-flex: 0 0 35%;
    flex: 0 0 35%; }

  [layout="row"] > [flex-gt-sm="35"] {
    max-width: 35%; }

  [layout="column"] > [flex-gt-sm="35"] {
    max-height: 35%; }

  [flex-gt-sm="40"] {
    -webkit-flex: 0 0 40%;
    -ms-flex: 0 0 40%;
    flex: 0 0 40%; }

  [layout="row"] > [flex-gt-sm="40"] {
    max-width: 40%; }

  [layout="column"] > [flex-gt-sm="40"] {
    max-height: 40%; }

  [flex-gt-sm="45"] {
    -webkit-flex: 0 0 45%;
    -ms-flex: 0 0 45%;
    flex: 0 0 45%; }

  [layout="row"] > [flex-gt-sm="45"] {
    max-width: 45%; }

  [layout="column"] > [flex-gt-sm="45"] {
    max-height: 45%; }

  [flex-gt-sm="50"] {
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%; }

  [layout="row"] > [flex-gt-sm="50"] {
    max-width: 50%; }

  [layout="column"] > [flex-gt-sm="50"] {
    max-height: 50%; }

  [flex-gt-sm="55"] {
    -webkit-flex: 0 0 55%;
    -ms-flex: 0 0 55%;
    flex: 0 0 55%; }

  [layout="row"] > [flex-gt-sm="55"] {
    max-width: 55%; }

  [layout="column"] > [flex-gt-sm="55"] {
    max-height: 55%; }

  [flex-gt-sm="60"] {
    -webkit-flex: 0 0 60%;
    -ms-flex: 0 0 60%;
    flex: 0 0 60%; }

  [layout="row"] > [flex-gt-sm="60"] {
    max-width: 60%; }

  [layout="column"] > [flex-gt-sm="60"] {
    max-height: 60%; }

  [flex-gt-sm="65"] {
    -webkit-flex: 0 0 65%;
    -ms-flex: 0 0 65%;
    flex: 0 0 65%; }

  [layout="row"] > [flex-gt-sm="65"] {
    max-width: 65%; }

  [layout="column"] > [flex-gt-sm="65"] {
    max-height: 65%; }

  [flex-gt-sm="70"] {
    -webkit-flex: 0 0 70%;
    -ms-flex: 0 0 70%;
    flex: 0 0 70%; }

  [layout="row"] > [flex-gt-sm="70"] {
    max-width: 70%; }

  [layout="column"] > [flex-gt-sm="70"] {
    max-height: 70%; }

  [flex-gt-sm="75"] {
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%; }

  [layout="row"] > [flex-gt-sm="75"] {
    max-width: 75%; }

  [layout="column"] > [flex-gt-sm="75"] {
    max-height: 75%; }

  [flex-gt-sm="80"] {
    -webkit-flex: 0 0 80%;
    -ms-flex: 0 0 80%;
    flex: 0 0 80%; }

  [layout="row"] > [flex-gt-sm="80"] {
    max-width: 80%; }

  [layout="column"] > [flex-gt-sm="80"] {
    max-height: 80%; }

  [flex-gt-sm="85"] {
    -webkit-flex: 0 0 85%;
    -ms-flex: 0 0 85%;
    flex: 0 0 85%; }

  [layout="row"] > [flex-gt-sm="85"] {
    max-width: 85%; }

  [layout="column"] > [flex-gt-sm="85"] {
    max-height: 85%; }

  [flex-gt-sm="90"] {
    -webkit-flex: 0 0 90%;
    -ms-flex: 0 0 90%;
    flex: 0 0 90%; }

  [layout="row"] > [flex-gt-sm="90"] {
    max-width: 90%; }

  [layout="column"] > [flex-gt-sm="90"] {
    max-height: 90%; }

  [flex-gt-sm="95"] {
    -webkit-flex: 0 0 95%;
    -ms-flex: 0 0 95%;
    flex: 0 0 95%; }

  [layout="row"] > [flex-gt-sm="95"] {
    max-width: 95%; }

  [layout="column"] > [flex-gt-sm="95"] {
    max-height: 95%; }

  [flex-gt-sm="100"] {
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%; }

  [layout="row"] > [flex-gt-sm="100"] {
    max-width: 100%; }

  [layout="column"] > [flex-gt-sm="100"] {
    max-height: 100%; }

  [flex-gt-sm="33"], [flex-gt-sm="34"] {
    -webkit-flex: 0 0 33.33%;
    -ms-flex: 0 0 33.33%;
    flex: 0 0 33.33%; }

  [flex-gt-sm="66"], [flex-gt-sm="67"] {
    -webkit-flex: 0 0 66.66%;
    -ms-flex: 0 0 66.66%;
    flex: 0 0 66.66%; }

  [layout="row"] > [flex-gt-sm="33"], [layout="row"] > [flex-gt-sm="34"] {
    max-width: 33.33%; }
  [layout="row"] > [flex-gt-sm="66"], [layout="row"] > [flex-gt-sm="67"] {
    max-width: 66.66%; }

  [layout="column"] > [flex-gt-sm="33"], [layout="column"] > [flex-gt-sm="34"] {
    max-height: 33.33%; }
  [layout="column"] > [flex-gt-sm="66"], [layout="column"] > [flex-gt-sm="67"] {
    max-height: 66.66%; }
}

@media (min-width: 600px) and (max-width: 959px) {
  [hide]:not([show-gt-sm]):not([show-md]):not([show]), [hide-gt-sm]:not([show-gt-sm]):not([show-md]):not([show]) {
    display: none; }

  [hide-md]:not([show-md]):not([show]) {
    display: none; }

  [flex-order-md="0"] {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0; }

  [flex-order-md="1"] {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1; }

  [flex-order-md="2"] {
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2; }

  [flex-order-md="3"] {
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3; }

  [flex-order-md="4"] {
    -webkit-order: 4;
    -ms-flex-order: 4;
    order: 4; }

  [flex-order-md="5"] {
    -webkit-order: 5;
    -ms-flex-order: 5;
    order: 5; }

  [flex-order-md="6"] {
    -webkit-order: 6;
    -ms-flex-order: 6;
    order: 6; }

  [flex-order-md="7"] {
    -webkit-order: 7;
    -ms-flex-order: 7;
    order: 7; }

  [flex-order-md="8"] {
    -webkit-order: 8;
    -ms-flex-order: 8;
    order: 8; }

  [flex-order-md="9"] {
    -webkit-order: 9;
    -ms-flex-order: 9;
    order: 9; }

  [layout-align-md="center"], [layout-align-md="center center"], [layout-align-md="center start"], [layout-align-md="center end"] {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }

  [layout-align-md="end"], [layout-align-md="end center"], [layout-align-md="end start"], [layout-align-md="end end"] {
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end; }

  [layout-align-md="space-around"], [layout-align-md="space-around center"], [layout-align-md="space-around start"], [layout-align-md="space-around end"] {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around; }

  [layout-align-md="space-between"], [layout-align-md="space-between center"], [layout-align-md="space-between start"], [layout-align-md="space-between end"] {
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }

  [layout-align-md="center center"], [layout-align-md="start center"], [layout-align-md="end center"], [layout-align-md="space-between center"], [layout-align-md="space-around center"] {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }

  [layout-align-md="center start"], [layout-align-md="start start"], [layout-align-md="end start"], [layout-align-md="space-between start"], [layout-align-md="space-around start"] {
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start; }

  [layout-align-md="center end"], [layout-align-md="start end"], [layout-align-md="end end"], [layout-align-md="space-between end"], [layout-align-md="space-around end"] {
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end; }

  [layout-md] {
    box-sizing: border-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex; }

  [layout-md=column] {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }

  [layout-md=row] {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row; }

  [flex-md] {
    box-sizing: border-box;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1; }

  [flex-md="0"] {
    -webkit-flex: 0 0 0%;
    -ms-flex: 0 0 0%;
    flex: 0 0 0%; }

  [layout="row"] > [flex-md="0"] {
    max-width: 0%; }

  [layout="column"] > [flex-md="0"] {
    max-height: 0%; }

  [flex-md="5"] {
    -webkit-flex: 0 0 5%;
    -ms-flex: 0 0 5%;
    flex: 0 0 5%; }

  [layout="row"] > [flex-md="5"] {
    max-width: 5%; }

  [layout="column"] > [flex-md="5"] {
    max-height: 5%; }

  [flex-md="10"] {
    -webkit-flex: 0 0 10%;
    -ms-flex: 0 0 10%;
    flex: 0 0 10%; }

  [layout="row"] > [flex-md="10"] {
    max-width: 10%; }

  [layout="column"] > [flex-md="10"] {
    max-height: 10%; }

  [flex-md="15"] {
    -webkit-flex: 0 0 15%;
    -ms-flex: 0 0 15%;
    flex: 0 0 15%; }

  [layout="row"] > [flex-md="15"] {
    max-width: 15%; }

  [layout="column"] > [flex-md="15"] {
    max-height: 15%; }

  [flex-md="20"] {
    -webkit-flex: 0 0 20%;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%; }

  [layout="row"] > [flex-md="20"] {
    max-width: 20%; }

  [layout="column"] > [flex-md="20"] {
    max-height: 20%; }

  [flex-md="25"] {
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%; }

  [layout="row"] > [flex-md="25"] {
    max-width: 25%; }

  [layout="column"] > [flex-md="25"] {
    max-height: 25%; }

  [flex-md="30"] {
    -webkit-flex: 0 0 30%;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%; }

  [layout="row"] > [flex-md="30"] {
    max-width: 30%; }

  [layout="column"] > [flex-md="30"] {
    max-height: 30%; }

  [flex-md="35"] {
    -webkit-flex: 0 0 35%;
    -ms-flex: 0 0 35%;
    flex: 0 0 35%; }

  [layout="row"] > [flex-md="35"] {
    max-width: 35%; }

  [layout="column"] > [flex-md="35"] {
    max-height: 35%; }

  [flex-md="40"] {
    -webkit-flex: 0 0 40%;
    -ms-flex: 0 0 40%;
    flex: 0 0 40%; }

  [layout="row"] > [flex-md="40"] {
    max-width: 40%; }

  [layout="column"] > [flex-md="40"] {
    max-height: 40%; }

  [flex-md="45"] {
    -webkit-flex: 0 0 45%;
    -ms-flex: 0 0 45%;
    flex: 0 0 45%; }

  [layout="row"] > [flex-md="45"] {
    max-width: 45%; }

  [layout="column"] > [flex-md="45"] {
    max-height: 45%; }

  [flex-md="50"] {
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%; }

  [layout="row"] > [flex-md="50"] {
    max-width: 50%; }

  [layout="column"] > [flex-md="50"] {
    max-height: 50%; }

  [flex-md="55"] {
    -webkit-flex: 0 0 55%;
    -ms-flex: 0 0 55%;
    flex: 0 0 55%; }

  [layout="row"] > [flex-md="55"] {
    max-width: 55%; }

  [layout="column"] > [flex-md="55"] {
    max-height: 55%; }

  [flex-md="60"] {
    -webkit-flex: 0 0 60%;
    -ms-flex: 0 0 60%;
    flex: 0 0 60%; }

  [layout="row"] > [flex-md="60"] {
    max-width: 60%; }

  [layout="column"] > [flex-md="60"] {
    max-height: 60%; }

  [flex-md="65"] {
    -webkit-flex: 0 0 65%;
    -ms-flex: 0 0 65%;
    flex: 0 0 65%; }

  [layout="row"] > [flex-md="65"] {
    max-width: 65%; }

  [layout="column"] > [flex-md="65"] {
    max-height: 65%; }

  [flex-md="70"] {
    -webkit-flex: 0 0 70%;
    -ms-flex: 0 0 70%;
    flex: 0 0 70%; }

  [layout="row"] > [flex-md="70"] {
    max-width: 70%; }

  [layout="column"] > [flex-md="70"] {
    max-height: 70%; }

  [flex-md="75"] {
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%; }

  [layout="row"] > [flex-md="75"] {
    max-width: 75%; }

  [layout="column"] > [flex-md="75"] {
    max-height: 75%; }

  [flex-md="80"] {
    -webkit-flex: 0 0 80%;
    -ms-flex: 0 0 80%;
    flex: 0 0 80%; }

  [layout="row"] > [flex-md="80"] {
    max-width: 80%; }

  [layout="column"] > [flex-md="80"] {
    max-height: 80%; }

  [flex-md="85"] {
    -webkit-flex: 0 0 85%;
    -ms-flex: 0 0 85%;
    flex: 0 0 85%; }

  [layout="row"] > [flex-md="85"] {
    max-width: 85%; }

  [layout="column"] > [flex-md="85"] {
    max-height: 85%; }

  [flex-md="90"] {
    -webkit-flex: 0 0 90%;
    -ms-flex: 0 0 90%;
    flex: 0 0 90%; }

  [layout="row"] > [flex-md="90"] {
    max-width: 90%; }

  [layout="column"] > [flex-md="90"] {
    max-height: 90%; }

  [flex-md="95"] {
    -webkit-flex: 0 0 95%;
    -ms-flex: 0 0 95%;
    flex: 0 0 95%; }

  [layout="row"] > [flex-md="95"] {
    max-width: 95%; }

  [layout="column"] > [flex-md="95"] {
    max-height: 95%; }

  [flex-md="100"] {
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%; }

  [layout="row"] > [flex-md="100"] {
    max-width: 100%; }

  [layout="column"] > [flex-md="100"] {
    max-height: 100%; }

  [flex-md="33"], [flex-md="34"] {
    -webkit-flex: 0 0 33.33%;
    -ms-flex: 0 0 33.33%;
    flex: 0 0 33.33%; }

  [flex-md="66"], [flex-md="67"] {
    -webkit-flex: 0 0 66.66%;
    -ms-flex: 0 0 66.66%;
    flex: 0 0 66.66%; }

  [layout="row"] > [flex-md="33"], [layout="row"] > [flex-md="34"] {
    max-width: 33.33%; }
  [layout="row"] > [flex-md="66"], [layout="row"] > [flex-md="67"] {
    max-width: 66.66%; }

  [layout="column"] > [flex-md="33"], [layout="column"] > [flex-md="34"] {
    max-height: 33.33%; }
  [layout="column"] > [flex-md="66"], [layout="column"] > [flex-md="67"] {
    max-height: 66.66%; }
}

@media (min-width: 960px) {
  [flex-order-gt-md="0"] {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0; }

  [flex-order-gt-md="1"] {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1; }

  [flex-order-gt-md="2"] {
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2; }

  [flex-order-gt-md="3"] {
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3; }

  [flex-order-gt-md="4"] {
    -webkit-order: 4;
    -ms-flex-order: 4;
    order: 4; }

  [flex-order-gt-md="5"] {
    -webkit-order: 5;
    -ms-flex-order: 5;
    order: 5; }

  [flex-order-gt-md="6"] {
    -webkit-order: 6;
    -ms-flex-order: 6;
    order: 6; }

  [flex-order-gt-md="7"] {
    -webkit-order: 7;
    -ms-flex-order: 7;
    order: 7; }

  [flex-order-gt-md="8"] {
    -webkit-order: 8;
    -ms-flex-order: 8;
    order: 8; }

  [flex-order-gt-md="9"] {
    -webkit-order: 9;
    -ms-flex-order: 9;
    order: 9; }

  [layout-align-gt-md="center"], [layout-align-gt-md="center center"], [layout-align-gt-md="center start"], [layout-align-gt-md="center end"] {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }

  [layout-align-gt-md="end"], [layout-align-gt-md="end center"], [layout-align-gt-md="end start"], [layout-align-gt-md="end end"] {
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end; }

  [layout-align-gt-md="space-around"], [layout-align-gt-md="space-around center"], [layout-align-gt-md="space-around start"], [layout-align-gt-md="space-around end"] {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around; }

  [layout-align-gt-md="space-between"], [layout-align-gt-md="space-between center"], [layout-align-gt-md="space-between start"], [layout-align-gt-md="space-between end"] {
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }

  [layout-align-gt-md="center center"], [layout-align-gt-md="start center"], [layout-align-gt-md="end center"], [layout-align-gt-md="space-between center"], [layout-align-gt-md="space-around center"] {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }

  [layout-align-gt-md="center start"], [layout-align-gt-md="start start"], [layout-align-gt-md="end start"], [layout-align-gt-md="space-between start"], [layout-align-gt-md="space-around start"] {
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start; }

  [layout-align-gt-md="center end"], [layout-align-gt-md="start end"], [layout-align-gt-md="end end"], [layout-align-gt-md="space-between end"], [layout-align-gt-md="space-around end"] {
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end; }

  [layout-gt-md] {
    box-sizing: border-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex; }

  [layout-gt-md=column] {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }

  [layout-gt-md=row] {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row; }

  [flex-gt-md] {
    box-sizing: border-box;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1; }

  [flex-gt-md="0"] {
    -webkit-flex: 0 0 0%;
    -ms-flex: 0 0 0%;
    flex: 0 0 0%; }

  [layout="row"] > [flex-gt-md="0"] {
    max-width: 0%; }

  [layout="column"] > [flex-gt-md="0"] {
    max-height: 0%; }

  [flex-gt-md="5"] {
    -webkit-flex: 0 0 5%;
    -ms-flex: 0 0 5%;
    flex: 0 0 5%; }

  [layout="row"] > [flex-gt-md="5"] {
    max-width: 5%; }

  [layout="column"] > [flex-gt-md="5"] {
    max-height: 5%; }

  [flex-gt-md="10"] {
    -webkit-flex: 0 0 10%;
    -ms-flex: 0 0 10%;
    flex: 0 0 10%; }

  [layout="row"] > [flex-gt-md="10"] {
    max-width: 10%; }

  [layout="column"] > [flex-gt-md="10"] {
    max-height: 10%; }

  [flex-gt-md="15"] {
    -webkit-flex: 0 0 15%;
    -ms-flex: 0 0 15%;
    flex: 0 0 15%; }

  [layout="row"] > [flex-gt-md="15"] {
    max-width: 15%; }

  [layout="column"] > [flex-gt-md="15"] {
    max-height: 15%; }

  [flex-gt-md="20"] {
    -webkit-flex: 0 0 20%;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%; }

  [layout="row"] > [flex-gt-md="20"] {
    max-width: 20%; }

  [layout="column"] > [flex-gt-md="20"] {
    max-height: 20%; }

  [flex-gt-md="25"] {
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%; }

  [layout="row"] > [flex-gt-md="25"] {
    max-width: 25%; }

  [layout="column"] > [flex-gt-md="25"] {
    max-height: 25%; }

  [flex-gt-md="30"] {
    -webkit-flex: 0 0 30%;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%; }

  [layout="row"] > [flex-gt-md="30"] {
    max-width: 30%; }

  [layout="column"] > [flex-gt-md="30"] {
    max-height: 30%; }

  [flex-gt-md="35"] {
    -webkit-flex: 0 0 35%;
    -ms-flex: 0 0 35%;
    flex: 0 0 35%; }

  [layout="row"] > [flex-gt-md="35"] {
    max-width: 35%; }

  [layout="column"] > [flex-gt-md="35"] {
    max-height: 35%; }

  [flex-gt-md="40"] {
    -webkit-flex: 0 0 40%;
    -ms-flex: 0 0 40%;
    flex: 0 0 40%; }

  [layout="row"] > [flex-gt-md="40"] {
    max-width: 40%; }

  [layout="column"] > [flex-gt-md="40"] {
    max-height: 40%; }

  [flex-gt-md="45"] {
    -webkit-flex: 0 0 45%;
    -ms-flex: 0 0 45%;
    flex: 0 0 45%; }

  [layout="row"] > [flex-gt-md="45"] {
    max-width: 45%; }

  [layout="column"] > [flex-gt-md="45"] {
    max-height: 45%; }

  [flex-gt-md="50"] {
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%; }

  [layout="row"] > [flex-gt-md="50"] {
    max-width: 50%; }

  [layout="column"] > [flex-gt-md="50"] {
    max-height: 50%; }

  [flex-gt-md="55"] {
    -webkit-flex: 0 0 55%;
    -ms-flex: 0 0 55%;
    flex: 0 0 55%; }

  [layout="row"] > [flex-gt-md="55"] {
    max-width: 55%; }

  [layout="column"] > [flex-gt-md="55"] {
    max-height: 55%; }

  [flex-gt-md="60"] {
    -webkit-flex: 0 0 60%;
    -ms-flex: 0 0 60%;
    flex: 0 0 60%; }

  [layout="row"] > [flex-gt-md="60"] {
    max-width: 60%; }

  [layout="column"] > [flex-gt-md="60"] {
    max-height: 60%; }

  [flex-gt-md="65"] {
    -webkit-flex: 0 0 65%;
    -ms-flex: 0 0 65%;
    flex: 0 0 65%; }

  [layout="row"] > [flex-gt-md="65"] {
    max-width: 65%; }

  [layout="column"] > [flex-gt-md="65"] {
    max-height: 65%; }

  [flex-gt-md="70"] {
    -webkit-flex: 0 0 70%;
    -ms-flex: 0 0 70%;
    flex: 0 0 70%; }

  [layout="row"] > [flex-gt-md="70"] {
    max-width: 70%; }

  [layout="column"] > [flex-gt-md="70"] {
    max-height: 70%; }

  [flex-gt-md="75"] {
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%; }

  [layout="row"] > [flex-gt-md="75"] {
    max-width: 75%; }

  [layout="column"] > [flex-gt-md="75"] {
    max-height: 75%; }

  [flex-gt-md="80"] {
    -webkit-flex: 0 0 80%;
    -ms-flex: 0 0 80%;
    flex: 0 0 80%; }

  [layout="row"] > [flex-gt-md="80"] {
    max-width: 80%; }

  [layout="column"] > [flex-gt-md="80"] {
    max-height: 80%; }

  [flex-gt-md="85"] {
    -webkit-flex: 0 0 85%;
    -ms-flex: 0 0 85%;
    flex: 0 0 85%; }

  [layout="row"] > [flex-gt-md="85"] {
    max-width: 85%; }

  [layout="column"] > [flex-gt-md="85"] {
    max-height: 85%; }

  [flex-gt-md="90"] {
    -webkit-flex: 0 0 90%;
    -ms-flex: 0 0 90%;
    flex: 0 0 90%; }

  [layout="row"] > [flex-gt-md="90"] {
    max-width: 90%; }

  [layout="column"] > [flex-gt-md="90"] {
    max-height: 90%; }

  [flex-gt-md="95"] {
    -webkit-flex: 0 0 95%;
    -ms-flex: 0 0 95%;
    flex: 0 0 95%; }

  [layout="row"] > [flex-gt-md="95"] {
    max-width: 95%; }

  [layout="column"] > [flex-gt-md="95"] {
    max-height: 95%; }

  [flex-gt-md="100"] {
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%; }

  [layout="row"] > [flex-gt-md="100"] {
    max-width: 100%; }

  [layout="column"] > [flex-gt-md="100"] {
    max-height: 100%; }

  [flex-gt-md="33"], [flex-gt-md="34"] {
    -webkit-flex: 0 0 33.33%;
    -ms-flex: 0 0 33.33%;
    flex: 0 0 33.33%; }

  [flex-gt-md="66"], [flex-gt-md="67"] {
    -webkit-flex: 0 0 66.66%;
    -ms-flex: 0 0 66.66%;
    flex: 0 0 66.66%; }

  [layout="row"] > [flex-gt-md="33"], [layout="row"] > [flex-gt-md="34"] {
    max-width: 33.33%; }
  [layout="row"] > [flex-gt-md="66"], [layout="row"] > [flex-gt-md="67"] {
    max-width: 66.66%; }

  [layout="column"] > [flex-gt-md="33"], [layout="column"] > [flex-gt-md="34"] {
    max-height: 33.33%; }
  [layout="column"] > [flex-gt-md="66"], [layout="column"] > [flex-gt-md="67"] {
    max-height: 66.66%; }
}

@media (min-width: 960px) and (max-width: 1199px) {
  [hide]:not([show-gt-sm]):not([show-gt-md]):not([show-lg]):not([show]), [hide-gt-sm]:not([show-gt-sm]):not([show-gt-md]):not([show-lg]):not([show]), [hide-gt-md]:not([show-gt-sm]):not([show-gt-md]):not([show-lg]):not([show]) {
    display: none; }

  [hide-lg]:not([show-lg]):not([show]) {
    display: none; }

  [flex-order-lg="0"] {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0; }

  [flex-order-lg="1"] {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1; }

  [flex-order-lg="2"] {
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2; }

  [flex-order-lg="3"] {
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3; }

  [flex-order-lg="4"] {
    -webkit-order: 4;
    -ms-flex-order: 4;
    order: 4; }

  [flex-order-lg="5"] {
    -webkit-order: 5;
    -ms-flex-order: 5;
    order: 5; }

  [flex-order-lg="6"] {
    -webkit-order: 6;
    -ms-flex-order: 6;
    order: 6; }

  [flex-order-lg="7"] {
    -webkit-order: 7;
    -ms-flex-order: 7;
    order: 7; }

  [flex-order-lg="8"] {
    -webkit-order: 8;
    -ms-flex-order: 8;
    order: 8; }

  [flex-order-lg="9"] {
    -webkit-order: 9;
    -ms-flex-order: 9;
    order: 9; }

  [layout-align-lg="center"], [layout-align-lg="center center"], [layout-align-lg="center start"], [layout-align-lg="center end"] {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }

  [layout-align-lg="end"], [layout-align-lg="end center"], [layout-align-lg="end start"], [layout-align-lg="end end"] {
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end; }

  [layout-align-lg="space-around"], [layout-align-lg="space-around center"], [layout-align-lg="space-around start"], [layout-align-lg="space-around end"] {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around; }

  [layout-align-lg="space-between"], [layout-align-lg="space-between center"], [layout-align-lg="space-between start"], [layout-align-lg="space-between end"] {
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }

  [layout-align-lg="center center"], [layout-align-lg="start center"], [layout-align-lg="end center"], [layout-align-lg="space-between center"], [layout-align-lg="space-around center"] {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }

  [layout-align-lg="center start"], [layout-align-lg="start start"], [layout-align-lg="end start"], [layout-align-lg="space-between start"], [layout-align-lg="space-around start"] {
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start; }

  [layout-align-lg="center end"], [layout-align-lg="start end"], [layout-align-lg="end end"], [layout-align-lg="space-between end"], [layout-align-lg="space-around end"] {
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end; }

  [layout-lg] {
    box-sizing: border-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex; }

  [layout-lg=column] {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }

  [layout-lg=row] {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row; }

  [flex-lg] {
    box-sizing: border-box;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1; }

  [flex-lg="0"] {
    -webkit-flex: 0 0 0%;
    -ms-flex: 0 0 0%;
    flex: 0 0 0%; }

  [layout="row"] > [flex-lg="0"] {
    max-width: 0%; }

  [layout="column"] > [flex-lg="0"] {
    max-height: 0%; }

  [flex-lg="5"] {
    -webkit-flex: 0 0 5%;
    -ms-flex: 0 0 5%;
    flex: 0 0 5%; }

  [layout="row"] > [flex-lg="5"] {
    max-width: 5%; }

  [layout="column"] > [flex-lg="5"] {
    max-height: 5%; }

  [flex-lg="10"] {
    -webkit-flex: 0 0 10%;
    -ms-flex: 0 0 10%;
    flex: 0 0 10%; }

  [layout="row"] > [flex-lg="10"] {
    max-width: 10%; }

  [layout="column"] > [flex-lg="10"] {
    max-height: 10%; }

  [flex-lg="15"] {
    -webkit-flex: 0 0 15%;
    -ms-flex: 0 0 15%;
    flex: 0 0 15%; }

  [layout="row"] > [flex-lg="15"] {
    max-width: 15%; }

  [layout="column"] > [flex-lg="15"] {
    max-height: 15%; }

  [flex-lg="20"] {
    -webkit-flex: 0 0 20%;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%; }

  [layout="row"] > [flex-lg="20"] {
    max-width: 20%; }

  [layout="column"] > [flex-lg="20"] {
    max-height: 20%; }

  [flex-lg="25"] {
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%; }

  [layout="row"] > [flex-lg="25"] {
    max-width: 25%; }

  [layout="column"] > [flex-lg="25"] {
    max-height: 25%; }

  [flex-lg="30"] {
    -webkit-flex: 0 0 30%;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%; }

  [layout="row"] > [flex-lg="30"] {
    max-width: 30%; }

  [layout="column"] > [flex-lg="30"] {
    max-height: 30%; }

  [flex-lg="35"] {
    -webkit-flex: 0 0 35%;
    -ms-flex: 0 0 35%;
    flex: 0 0 35%; }

  [layout="row"] > [flex-lg="35"] {
    max-width: 35%; }

  [layout="column"] > [flex-lg="35"] {
    max-height: 35%; }

  [flex-lg="40"] {
    -webkit-flex: 0 0 40%;
    -ms-flex: 0 0 40%;
    flex: 0 0 40%; }

  [layout="row"] > [flex-lg="40"] {
    max-width: 40%; }

  [layout="column"] > [flex-lg="40"] {
    max-height: 40%; }

  [flex-lg="45"] {
    -webkit-flex: 0 0 45%;
    -ms-flex: 0 0 45%;
    flex: 0 0 45%; }

  [layout="row"] > [flex-lg="45"] {
    max-width: 45%; }

  [layout="column"] > [flex-lg="45"] {
    max-height: 45%; }

  [flex-lg="50"] {
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%; }

  [layout="row"] > [flex-lg="50"] {
    max-width: 50%; }

  [layout="column"] > [flex-lg="50"] {
    max-height: 50%; }

  [flex-lg="55"] {
    -webkit-flex: 0 0 55%;
    -ms-flex: 0 0 55%;
    flex: 0 0 55%; }

  [layout="row"] > [flex-lg="55"] {
    max-width: 55%; }

  [layout="column"] > [flex-lg="55"] {
    max-height: 55%; }

  [flex-lg="60"] {
    -webkit-flex: 0 0 60%;
    -ms-flex: 0 0 60%;
    flex: 0 0 60%; }

  [layout="row"] > [flex-lg="60"] {
    max-width: 60%; }

  [layout="column"] > [flex-lg="60"] {
    max-height: 60%; }

  [flex-lg="65"] {
    -webkit-flex: 0 0 65%;
    -ms-flex: 0 0 65%;
    flex: 0 0 65%; }

  [layout="row"] > [flex-lg="65"] {
    max-width: 65%; }

  [layout="column"] > [flex-lg="65"] {
    max-height: 65%; }

  [flex-lg="70"] {
    -webkit-flex: 0 0 70%;
    -ms-flex: 0 0 70%;
    flex: 0 0 70%; }

  [layout="row"] > [flex-lg="70"] {
    max-width: 70%; }

  [layout="column"] > [flex-lg="70"] {
    max-height: 70%; }

  [flex-lg="75"] {
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%; }

  [layout="row"] > [flex-lg="75"] {
    max-width: 75%; }

  [layout="column"] > [flex-lg="75"] {
    max-height: 75%; }

  [flex-lg="80"] {
    -webkit-flex: 0 0 80%;
    -ms-flex: 0 0 80%;
    flex: 0 0 80%; }

  [layout="row"] > [flex-lg="80"] {
    max-width: 80%; }

  [layout="column"] > [flex-lg="80"] {
    max-height: 80%; }

  [flex-lg="85"] {
    -webkit-flex: 0 0 85%;
    -ms-flex: 0 0 85%;
    flex: 0 0 85%; }

  [layout="row"] > [flex-lg="85"] {
    max-width: 85%; }

  [layout="column"] > [flex-lg="85"] {
    max-height: 85%; }

  [flex-lg="90"] {
    -webkit-flex: 0 0 90%;
    -ms-flex: 0 0 90%;
    flex: 0 0 90%; }

  [layout="row"] > [flex-lg="90"] {
    max-width: 90%; }

  [layout="column"] > [flex-lg="90"] {
    max-height: 90%; }

  [flex-lg="95"] {
    -webkit-flex: 0 0 95%;
    -ms-flex: 0 0 95%;
    flex: 0 0 95%; }

  [layout="row"] > [flex-lg="95"] {
    max-width: 95%; }

  [layout="column"] > [flex-lg="95"] {
    max-height: 95%; }

  [flex-lg="100"] {
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%; }

  [layout="row"] > [flex-lg="100"] {
    max-width: 100%; }

  [layout="column"] > [flex-lg="100"] {
    max-height: 100%; }

  [flex-lg="33"], [flex-lg="34"] {
    -webkit-flex: 0 0 33.33%;
    -ms-flex: 0 0 33.33%;
    flex: 0 0 33.33%; }

  [flex-lg="66"], [flex-lg="67"] {
    -webkit-flex: 0 0 66.66%;
    -ms-flex: 0 0 66.66%;
    flex: 0 0 66.66%; }

  [layout="row"] > [flex-lg="33"], [layout="row"] > [flex-lg="34"] {
    max-width: 33.33%; }
  [layout="row"] > [flex-lg="66"], [layout="row"] > [flex-lg="67"] {
    max-width: 66.66%; }

  [layout="column"] > [flex-lg="33"], [layout="column"] > [flex-lg="34"] {
    max-height: 33.33%; }
  [layout="column"] > [flex-lg="66"], [layout="column"] > [flex-lg="67"] {
    max-height: 66.66%; }
}

@media (min-width: 1200px) {
  [hide-gt-sm]:not([show-gt-sm]):not([show-gt-md]):not([show-gt-lg]):not([show]), [hide-gt-md]:not([show-gt-sm]):not([show-gt-md]):not([show-gt-lg]):not([show]), [hide-gt-lg]:not([show-gt-sm]):not([show-gt-md]):not([show-gt-lg]):not([show]), [hide]:not([show-gt-sm]):not([show-gt-md]):not([show-gt-lg]):not([show]) {
    display: none; }

  [flex-order-gt-lg="0"] {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0; }

  [flex-order-gt-lg="1"] {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1; }

  [flex-order-gt-lg="2"] {
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2; }

  [flex-order-gt-lg="3"] {
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3; }

  [flex-order-gt-lg="4"] {
    -webkit-order: 4;
    -ms-flex-order: 4;
    order: 4; }

  [flex-order-gt-lg="5"] {
    -webkit-order: 5;
    -ms-flex-order: 5;
    order: 5; }

  [flex-order-gt-lg="6"] {
    -webkit-order: 6;
    -ms-flex-order: 6;
    order: 6; }

  [flex-order-gt-lg="7"] {
    -webkit-order: 7;
    -ms-flex-order: 7;
    order: 7; }

  [flex-order-gt-lg="8"] {
    -webkit-order: 8;
    -ms-flex-order: 8;
    order: 8; }

  [flex-order-gt-lg="9"] {
    -webkit-order: 9;
    -ms-flex-order: 9;
    order: 9; }

  [layout-align-gt-lg="center"], [layout-align-gt-lg="center center"], [layout-align-gt-lg="center start"], [layout-align-gt-lg="center end"] {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }

  [layout-align-gt-lg="end"], [layout-align-gt-lg="end center"], [layout-align-gt-lg="end start"], [layout-align-gt-lg="end end"] {
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end; }

  [layout-align-gt-lg="space-around"], [layout-align-gt-lg="space-around center"], [layout-align-gt-lg="space-around start"], [layout-align-gt-lg="space-around end"] {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around; }

  [layout-align-gt-lg="space-between"], [layout-align-gt-lg="space-between center"], [layout-align-gt-lg="space-between start"], [layout-align-gt-lg="space-between end"] {
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }

  [layout-align-gt-lg="center center"], [layout-align-gt-lg="start center"], [layout-align-gt-lg="end center"], [layout-align-gt-lg="space-between center"], [layout-align-gt-lg="space-around center"] {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }

  [layout-align-gt-lg="center start"], [layout-align-gt-lg="start start"], [layout-align-gt-lg="end start"], [layout-align-gt-lg="space-between start"], [layout-align-gt-lg="space-around start"] {
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start; }

  [layout-align-gt-lg="center end"], [layout-align-gt-lg="start end"], [layout-align-gt-lg="end end"], [layout-align-gt-lg="space-between end"], [layout-align-gt-lg="space-around end"] {
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end; }

  [layout-gt-lg] {
    box-sizing: border-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex; }

  [layout-gt-lg=column] {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }

  [layout-gt-lg=row] {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row; }

  [flex-gt-lg] {
    box-sizing: border-box;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1; }

  [flex-gt-lg="0"] {
    -webkit-flex: 0 0 0%;
    -ms-flex: 0 0 0%;
    flex: 0 0 0%; }

  [layout="row"] > [flex-gt-lg="0"] {
    max-width: 0%; }

  [layout="column"] > [flex-gt-lg="0"] {
    max-height: 0%; }

  [flex-gt-lg="5"] {
    -webkit-flex: 0 0 5%;
    -ms-flex: 0 0 5%;
    flex: 0 0 5%; }

  [layout="row"] > [flex-gt-lg="5"] {
    max-width: 5%; }

  [layout="column"] > [flex-gt-lg="5"] {
    max-height: 5%; }

  [flex-gt-lg="10"] {
    -webkit-flex: 0 0 10%;
    -ms-flex: 0 0 10%;
    flex: 0 0 10%; }

  [layout="row"] > [flex-gt-lg="10"] {
    max-width: 10%; }

  [layout="column"] > [flex-gt-lg="10"] {
    max-height: 10%; }

  [flex-gt-lg="15"] {
    -webkit-flex: 0 0 15%;
    -ms-flex: 0 0 15%;
    flex: 0 0 15%; }

  [layout="row"] > [flex-gt-lg="15"] {
    max-width: 15%; }

  [layout="column"] > [flex-gt-lg="15"] {
    max-height: 15%; }

  [flex-gt-lg="20"] {
    -webkit-flex: 0 0 20%;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%; }

  [layout="row"] > [flex-gt-lg="20"] {
    max-width: 20%; }

  [layout="column"] > [flex-gt-lg="20"] {
    max-height: 20%; }

  [flex-gt-lg="25"] {
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%; }

  [layout="row"] > [flex-gt-lg="25"] {
    max-width: 25%; }

  [layout="column"] > [flex-gt-lg="25"] {
    max-height: 25%; }

  [flex-gt-lg="30"] {
    -webkit-flex: 0 0 30%;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%; }

  [layout="row"] > [flex-gt-lg="30"] {
    max-width: 30%; }

  [layout="column"] > [flex-gt-lg="30"] {
    max-height: 30%; }

  [flex-gt-lg="35"] {
    -webkit-flex: 0 0 35%;
    -ms-flex: 0 0 35%;
    flex: 0 0 35%; }

  [layout="row"] > [flex-gt-lg="35"] {
    max-width: 35%; }

  [layout="column"] > [flex-gt-lg="35"] {
    max-height: 35%; }

  [flex-gt-lg="40"] {
    -webkit-flex: 0 0 40%;
    -ms-flex: 0 0 40%;
    flex: 0 0 40%; }

  [layout="row"] > [flex-gt-lg="40"] {
    max-width: 40%; }

  [layout="column"] > [flex-gt-lg="40"] {
    max-height: 40%; }

  [flex-gt-lg="45"] {
    -webkit-flex: 0 0 45%;
    -ms-flex: 0 0 45%;
    flex: 0 0 45%; }

  [layout="row"] > [flex-gt-lg="45"] {
    max-width: 45%; }

  [layout="column"] > [flex-gt-lg="45"] {
    max-height: 45%; }

  [flex-gt-lg="50"] {
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%; }

  [layout="row"] > [flex-gt-lg="50"] {
    max-width: 50%; }

  [layout="column"] > [flex-gt-lg="50"] {
    max-height: 50%; }

  [flex-gt-lg="55"] {
    -webkit-flex: 0 0 55%;
    -ms-flex: 0 0 55%;
    flex: 0 0 55%; }

  [layout="row"] > [flex-gt-lg="55"] {
    max-width: 55%; }

  [layout="column"] > [flex-gt-lg="55"] {
    max-height: 55%; }

  [flex-gt-lg="60"] {
    -webkit-flex: 0 0 60%;
    -ms-flex: 0 0 60%;
    flex: 0 0 60%; }

  [layout="row"] > [flex-gt-lg="60"] {
    max-width: 60%; }

  [layout="column"] > [flex-gt-lg="60"] {
    max-height: 60%; }

  [flex-gt-lg="65"] {
    -webkit-flex: 0 0 65%;
    -ms-flex: 0 0 65%;
    flex: 0 0 65%; }

  [layout="row"] > [flex-gt-lg="65"] {
    max-width: 65%; }

  [layout="column"] > [flex-gt-lg="65"] {
    max-height: 65%; }

  [flex-gt-lg="70"] {
    -webkit-flex: 0 0 70%;
    -ms-flex: 0 0 70%;
    flex: 0 0 70%; }

  [layout="row"] > [flex-gt-lg="70"] {
    max-width: 70%; }

  [layout="column"] > [flex-gt-lg="70"] {
    max-height: 70%; }

  [flex-gt-lg="75"] {
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%; }

  [layout="row"] > [flex-gt-lg="75"] {
    max-width: 75%; }

  [layout="column"] > [flex-gt-lg="75"] {
    max-height: 75%; }

  [flex-gt-lg="80"] {
    -webkit-flex: 0 0 80%;
    -ms-flex: 0 0 80%;
    flex: 0 0 80%; }

  [layout="row"] > [flex-gt-lg="80"] {
    max-width: 80%; }

  [layout="column"] > [flex-gt-lg="80"] {
    max-height: 80%; }

  [flex-gt-lg="85"] {
    -webkit-flex: 0 0 85%;
    -ms-flex: 0 0 85%;
    flex: 0 0 85%; }

  [layout="row"] > [flex-gt-lg="85"] {
    max-width: 85%; }

  [layout="column"] > [flex-gt-lg="85"] {
    max-height: 85%; }

  [flex-gt-lg="90"] {
    -webkit-flex: 0 0 90%;
    -ms-flex: 0 0 90%;
    flex: 0 0 90%; }

  [layout="row"] > [flex-gt-lg="90"] {
    max-width: 90%; }

  [layout="column"] > [flex-gt-lg="90"] {
    max-height: 90%; }

  [flex-gt-lg="95"] {
    -webkit-flex: 0 0 95%;
    -ms-flex: 0 0 95%;
    flex: 0 0 95%; }

  [layout="row"] > [flex-gt-lg="95"] {
    max-width: 95%; }

  [layout="column"] > [flex-gt-lg="95"] {
    max-height: 95%; }

  [flex-gt-lg="100"] {
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%; }

  [layout="row"] > [flex-gt-lg="100"] {
    max-width: 100%; }

  [layout="column"] > [flex-gt-lg="100"] {
    max-height: 100%; }

  [flex-gt-lg="33"], [flex-gt-lg="34"] {
    -webkit-flex: 0 0 33.33%;
    -ms-flex: 0 0 33.33%;
    flex: 0 0 33.33%; }

  [flex-gt-lg="66"], [flex-gt-lg="67"] {
    -webkit-flex: 0 0 66.66%;
    -ms-flex: 0 0 66.66%;
    flex: 0 0 66.66%; }

  [layout="row"] > [flex-gt-lg="33"], [layout="row"] > [flex-gt-lg="34"] {
    max-width: 33.33%; }
  [layout="row"] > [flex-gt-lg="66"], [layout="row"] > [flex-gt-lg="67"] {
    max-width: 66.66%; }

  [layout="column"] > [flex-gt-lg="33"], [layout="column"] > [flex-gt-lg="34"] {
    max-height: 33.33%; }
  [layout="column"] > [flex-gt-lg="66"], [layout="column"] > [flex-gt-lg="67"] {
    max-height: 66.66%; }
}